<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
  <testsuites>
    <testsuite name="PortalSimple Integration Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="BASE_URL" value="http://localhost/portal-simple"/>
  </php>
</phpunit>
